{% extends '/base/default-dashboard.html' %}
{% import '/dashboard/project-renderer.html' as renderer %}

{% block dashboard_title %}
Dashboard
{% endblock %}

{% block breadcrumbs %}
{% endblock %}


{% block content %}

<h2 class="ui header horizontal divider">Classes</h2>
{% if opened_classes %}
<table class="ui celled table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Type</th>
      <th>Ended Date</th>
    </tr>
  </thead>

  <body>
    {% for class_ in opened_classes %}
    <tr>
      <td>
        <a href="{{ url_for('admin.classes.view', class_id=class_.id) }}">{{ class_.name }}</a>
      </td>
      <td>
        {{ class_.description }}
      </td>
      <td>
        {{ class_.get_type_display() }}
      </td>
      <td>
        {{ class_.ended_date }}
      </td>
    </tr>
    {% endfor %}
  </body>
</table>
{% else %}
<div class="ui info message">
  No opened classes to display
</div>
{% endif %}


{% endblock %}
