<div class="ui container">
  <div class="ui grid" style="padding: 2em">
    <div class="two column row">
      <div class="column">
        <h6 class="ui header">Watsana Project System</h6>
        <img width="50px" src="{{ url_for('static', filename="images/r202.png") }}">
        <img width="80px" src="{{ url_for('static', filename="images/coe-logo.png") }}">
        <p><a href="https://www.facebook.com/R202CoEPSU">Develop by R202 research lab</a></p>
        <p><a href="http://coe.psu.ac.th">CoE, Eng, PSU</a></p>
      </div>
      <div class="column">
        <h5 class="ui header">Connect</h5>
          <p><a href="https://github.com/r202-coe-psu/watsana">Git Repository</a></p>
      </div>
    </div>
  </div>
</div>
